.App {
    text-align: center;
}



/*THE FOLLOWING CODES ARE FOR ACCESS.JS*/
#formHeader {
    position: relative;
    top: 50px;
    padding: 10px;
    width: 400px;
    align-items: center;
    margin: auto;
} #formHeader > h1 {
    font-weight: 100;
}
.formBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    margin:auto;
    row-gap: 10px;
} .formBody > input[type=text], input[type=password], input[type=email]{
    width: 247px;
    height: 39px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #f0f0f0;
} .formBody > input[type=submit] {
    width: 132px;
    height: 50px;
    background-color: #272727;
    color: #ffffff;
    border-radius: 10px;
    border:none;
    margin: auto;
    cursor: pointer;
} .formBody > input[type=submit]:hover {
    background-color: #424141;
}
.link {
    color: rgb(111, 181, 255);
    cursor: pointer;
}





/*WELCOME COMPONENT*/
#welcomeContainer {
    position: relative;
    top: 6rem; 
}
#welcomeHeader {
    font-size: 45px;
    margin-bottom: 0px;
}
#welcomeCaption {
    font-size: 22px;
    margin-top: 10px;
}
#welcomeBody {
    margin-top: 6rem;
}
.welcomeButtons {
    height: 92px;
    width: 208px;
    border-radius: 10px;    
    border: none;
    background-color: #d9d9d9;
    font-size: 20px;
    cursor:pointer;
} .welcomeButtons:hover {
    background-color: #b5b5b5;
}
#or {
    margin: 20px;
}
#welcomeTo {
    font-weight:100;
}