.App {
    text-align: center;
}



/*THE FOLLOWING CODES ARE FOR ACCESS.JS*/
#formHeader {
    position: relative;
    top: 50px;
    padding: 10px;
    width: 400px;
    align-items: center;
    margin: auto;
} #formHeader > h1 {
    font-weight: 100;
}
.formBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    margin:auto;
    row-gap: 10px;
} .formBody > input[type=text], input[type=password], input[type=email]{
    width: 247px;
    height: 39px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #f0f0f0;
} .formBody > input[type=submit] {
    width: 132px;
    height: 50px;
    background-color: #272727;
    color: #ffffff;
    border-radius: 10px;
    border:none;
    margin: auto;
    cursor: pointer;
} .formBody > input[type=submit]:hover {
    background-color: #424141;
}
.link {
    color: rgb(111, 181, 255);
    cursor: pointer;
}





/*WELCOME COMPONENT*/
#welcomeContainer {
    position: relative;
    top: 6rem; 
}
#welcomeHeader {
    font-size: 45px;
    margin-bottom: 0px;
}
#welcomeCaption {
    font-size: 22px;
    margin-top: 10px;
}
#welcomeBody {
    margin-top: 6rem;
}
.welcomeButtons {
    height: 92px;
    width: 208px;
    border-radius: 10px;    
    border: none;
    background-color: #d9d9d9;
    font-size: 20px;
    cursor:pointer;
} .welcomeButtons:hover {
    background-color: #b5b5b5;
}
#or {
    margin: 20px;
}
#welcomeTo {
    font-weight:100;
}




/* AddDeviceComponent */
#addDevice-form {
    /* background-color: red; */
    display: flex;
    column-gap: 5em;
    justify-content: center;
    flex-wrap: wrap;
}
#addDevice-form input, textarea {
    border-radius: 20px;
    padding: 10px;
}
#addDevice-form #specs {
    margin-top: -10px;
    width:35em;
    height: 70px;
    display: block;
    margin: auto;
}
#condition > label {
    margin-right: 20px;
}
#availability > label {
    margin-right: 20px;
}
#addDevice-form #installed-apps, #issues, #terms-conditions{
    width: 35em;
    height: 70px;
    display: block;
    margin: auto;
}
#addDevice-form #terms-conditions {
    height: 25em;
}
#addDevice-form h3 {
    margin-bottom: 0px;
    margin-top:35px;
    font-size: 1.5em;
}
#addDevice-form > #div-left {
    /* background-color: green; */
    width: 35em;
}
#addDevice-form > #div-right {
    /* background-color: cyan; */
    width: 35em;
}
#addDevice-btn {    
    margin: 30px;
    width: 7em;
    height: 3em;
    border-radius: 10px;
    border:none;
    background-color: #272727;
    color: #ffffff;
    font-size: 20px;    
} #addDevice-btn:hover {
    background-color: #414141;
    cursor: pointer;
}
#message {
    position:fixed;
    display: flex;
    width: 7em;
    height: 3em;
    border-radius: 10px;
    background-color: #272727c4;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: 5em;
    align-items: center;
    justify-content: center;
}


/* LenderProfile */
#navbar {
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    column-gap: 1rem;
    position: fixed;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 20px;
    
} #navbar div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
}

#container-lender {
    margin: auto;
    margin-top: 5rem;
    display: flex;
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    width: 885px;
    height: 540px;
    color: white;
}
.profile-photo-container{
    width: 287px;
    height: 399px;
    border: 1px solid white;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lender-info {
    height: 25rem;
    width: 20rem;
} #lender-info * {
    text-align: left;
}