.App {
    text-align: center;
}

/*THE FOLLOWING CODES ARE FOR ACCESS.JS*/
#formHeader {
    padding: 10px;
    width: 400px;
    align-items: center;
    margin: auto;
}

#formBody {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    margin:auto;
    row-gap: 10px;
}